* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    justify-content: center;
    background-color: navy;
}
.center-column {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/1a7166b9-c8bd-4186-9934-00b04a2b2e47-Calvin_Top_Sports_7.webp);
    width: 50%; 
    min-width: 480px;
    margin: 0px auto; 
}
.contenders {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: auto;
    flex-wrap: wrap;
}
@media (max-width: 480px) {
    .contenders {
      flex-direction: column;
    }
}
h1 {
    color: aliceblue;
    margin: 0px;
    padding: 0px;
}
h4 {
    color: aliceblue;
    margin: 0px;
    padding: 0px;
}
h2 {
    color: aliceblue;
    margin: auto;
    padding: 0px;
}
h3 {
    color: aliceblue;
    margin: 0px;
    padding: 0px;
}
h6 {
    color: aliceblue;
    padding: 0px;
}
p {
    color: aliceblue;
}
#card {
    padding: 5px;
}
button {
    background-color: crimson;
    color: aliceblue;
}
button:hover {
    background: linear-gradient(to top, deepskyblue,blue);
}
